<div class="row text-center">
    <div class="col-sm-12">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th class="text-center">Name</th>
                    <th class="text-center">Qty. Available</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Surface</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>Surface 2</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>Surface 3</td>
                    <td>15</td>
                </tr>
                <tr>
                    <td>Surface Pro 3</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>Surface Pro 4</td>
                    <td>17</td>
                </tr>
                <tr>
                    <td>Surface Book</td>
                    <td>10</td>
                </tr>
                <tr>
                    <td>Surface Book 2</td>
                    <td>7</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>