<div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <div class='navbar-collapse collapse side-menu'>
            <ul class='nav navbar-nav'>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/home']">
                        <span class='glyphicon glyphicon-wrench'></span> Hardware Type
                    </a>
                    <ul class="nav">
                        <li [routerLinkActive]="['link-active']">
                            <a [routerLink]="['/counter']">
                                <span class='glyphicon glyphicon-star'></span> New
                            </a>
                        </li>
                        <li [routerLinkActive]="['link-active']">
                            <a [routerLink]="['/fetch-data']">
                                <span class='glyphicon glyphicon-star-empty'></span> Reclaimed
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
