<div class='container-fluid'>
    <div class="row top-menu text-right">
        <div class="col-sm-3">
            
        </div>
        <div class="col-sm-9">
            <h2> <span class='glyphicon glyphicon-user'></span> Welcome, Business User!</h2>
        </div>
    </div>
    <div class='row'>
        <div class='col-sm-3'>
            <nav-menu></nav-menu>
        </div>
        <div class='col-sm-9 body-content'>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
