
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="title">Hardware Category</h1>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-4 col-sm-12">
            <div class="row">
                <div class="col-sm-12"><img src="https://product-images.www8-hp.com/digmedialib/prodimg/lowres/c05645219.png" /></div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <a href="#"><h3>Laptop</h3></a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="row">
                <div class="col-sm-12"><img src="https://u.cdn.sera.to/content/images/53/27253/27253.png" /></div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <a [routerLink]="['/product']"><h3>Surface</h3></a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="row">
                <div class="col-sm-12"><img src="https://i.dell.com/das/xa.ashx/global-site-design%20WEB/7a4886bc-bc27-4a5d-9d8d-3a4446e39e15/1/OriginalPng?id=Dell/Product_Images/Peripherals/Output_Devices/Dell/Monitors/u2212hm/hero/monitor-u2212hm-hero-504x350.psd" /></div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <a href="#"><h3>Monitors</h3></a>
                </div>
            </div>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-4 col-sm-12">
            <div class="row">
                <div class="col-sm-12"><img src="https://i.dell.com/das/xa.ashx/global-site-design%20web/00000000-0000-0000-0000-000000000000/1/LargePNG?id=Dell/Product_Images/Dell_Client_Products/Desktops/Inspiron_Desktops/Inspiron_3650_Mini_Tower/global_spi/desktop-inspiron-3600-mini-tower-black-right-hero-504x350.psd" /></div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <a [routerLink]="['/counter']"><h3>Desktop</h3></a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="row">
                <div class="col-sm-12"><img src="https://ssl-product-images.www8-hp.com/digmedialib/prodimg/lowres/c04886851.png" /></div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                <a href="#"><h3>Accessories</h3></a>
            </div>
        </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="row">
                <!--<div class="col-sm-12"><img src="https://product-images.www8-hp.com/digmedialib/prodimg/lowres/c05645219.png" /></div>-->
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <!--<a href="#"><h3>Laptop</h3></a>-->
                </div>
            </div>
        </div>
    </div>
</div>