<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <img src="http://zdnet2.cbsistatic.com/hub/i/r/2014/09/05/68224fbb-34df-11e4-9e6a-00505685119a/thumbnail/770x578/c421984c525b867c9b9977fb6b7246d2/microsoft-quietly-discontinues-surface-wireless-keyboard-adapter.png" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h3>Product Description</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h4>1.7GHz Tegra</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h4>2GB RAM</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h4>64GB Storage</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h4>Windows 10</h4>
        </div>
    </div>
</div>